<style>

  body {
  margin: 0;
  background-color: #F2F2F2;
}

.img-fit {
  width: 70vw;
  height: auto;
  margin: 20px auto;
}


.parent {
  height: 100vh;


  /* Copy paste this to
  center your element */
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.element-to-center {
  /* I just make the element beautiful */

  font-size: 18px;
  color: #211F1F;
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500;
  text-align: center;
}

.back {
  font-family: 'Roboto', sans-serif;
  margin-left: 20px;
  padding-top: 20px;
  color: black !important;
  text-decoration: none;
}
</style>

<%= link_to "↩ back", "/", :class => 'back' %>

<div class="parent">
    <%= image_tag("IMG_8018.jpeg", :class => "img-fit") %>
    <%= image_tag("IMG_8001.jpeg", :class => "img-fit") %>
    <%= image_tag("IMG_7986.jpeg", :class => "img-fit") %>
    <%= image_tag("IMG_7958.jpeg", :class => "img-fit") %>
    <%= image_tag("IMG_7951.jpeg", :class => "img-fit") %>
    <%= image_tag("IMG_7932.jpeg", :class => "img-fit") %>
    <%= image_tag("IMG_7898.jpeg", :class => "img-fit") %>
    <%= image_tag("IMG_7869.jpeg", :class => "img-fit") %>
    <%= image_tag("IMG_7847.jpeg", :class => "img-fit") %>
    <%= image_tag("IMG_7812.jpeg", :class => "img-fit") %>
    <%= image_tag("IMG_7789.jpeg", :class => "img-fit") %>
    <%= image_tag("IMG_7786.jpeg", :class => "img-fit") %>
    <%= image_tag("IMG_7769.jpeg", :class => "img-fit") %>
    <%= image_tag("IMG_7757.jpeg", :class => "img-fit") %>
    <%= image_tag("IMG_7743.jpeg", :class => "img-fit") %>
    <%= image_tag("IMG_7721.jpeg", :class => "img-fit") %>
    <%= image_tag("IMG_7701.jpeg", :class => "img-fit") %>
    <%= image_tag("IMG_7682.jpeg", :class => "img-fit") %>
    <%= image_tag("IMG_7650.jpeg", :class => "img-fit") %>
    <%= image_tag("IMG_7637.jpeg", :class => "img-fit") %>
    <%= image_tag("o2-bastien.jpg", :class => "img-fit") %>
</div>
