<style>

  body {
  margin: 0;
  background-color: #F2F2F2;
}

.img-fit {
  width: 70vw;
  height: auto;
  margin: 20px auto;
}


.parent {
  height: 100vh;


  /* Copy paste this to
  center your element */
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.element-to-center {
  /* I just make the element beautiful */

  font-size: 18px;
  color: #211F1F;
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500;
  text-align: center;
}


</style>

<div class="parent">
    <%= image_tag("IMG_9190.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8085.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8094.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8107.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8108.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8129.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8151.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8166.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8201.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8206.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8220.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8233.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8362.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8381.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8394.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8410.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8413.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8414.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8473.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8489.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8609.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8657.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8732.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8735.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8744.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8751.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8752.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8770.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8771.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8783.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8901.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8921.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8928.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8954.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8992.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_9014.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_9124.jpg", :class => "img-fit") %>
</div>
