<style>

  body {
  margin: 0;
  background-color: #F2F2F2;
}

.img-fit {
  width: 70vw;
  height: auto;
  margin: 20px auto;
}


.parent {
  height: 100vh;


  /* Copy paste this to
  center your element */
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.element-to-center {
  /* I just make the element beautiful */

  font-size: 18px;
  color: #211F1F;
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500;
  text-align: center;
}

.back {
  position: fixed;
  top: 10px;
  left: 25px;
  font-family: 'Roboto', sans-serif;
  color: black !important;
  text-decoration: none;
}
</style>

<%= link_to "↩ back", "/", :class => 'back' %>

<div class="parent">
    <%= image_tag("IMG_7386.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_7394.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_7428.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_7447.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_7493.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_7522.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_7653.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_7773.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_7887.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_7936.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_7955.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_7975.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_7979.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8043.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8057.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8141.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8410.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8414.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8473.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8690.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8719.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8733.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8832.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8990.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_9009.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_9133.jpg", :class => "img-fit") %>
</div>

<%= link_to "↩ back", "/", :class => 'back' %>
