<style>

  body {
  margin: 0;
  background-color: #F2F2F2;
}

.img-fit {
  width: 70vw;
  height: auto;
  margin: 20px auto;
}


.parent {
  height: 100vh;


  /* Copy paste this to
  center your element */
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.element-to-center {
  /* I just make the element beautiful */

  font-size: 18px;
  color: #211F1F;
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500;
  text-align: center;
}

.back {
  position: fixed;
  top: 10px;
  left: 25px;
  font-family: 'Roboto', sans-serif;
  color: black !important;
  text-decoration: none;
}
</style>

<%= link_to "↩ back", "/", :class => 'back' %>

<div class="parent">
    <%= image_tag("IMG_8076.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8124.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8151.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8158.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8221.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_8894.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_9002.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_9095.jpg", :class => "img-fit") %>
    <%= image_tag("IMG_9158.jpg", :class => "img-fit") %>
</div>

<%= link_to "↩ back", "/", :class => 'back' %>
