<!-- <div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <%= link_to "/o2team" do %>
         <%= image_tag "IMG_8129.jpg", class: "img-fit-2" %>
      <% end %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <%= link_to "/mugshots" do %>
         <%= image_tag "IMG_7898.jpg", class: "img-fit-2" %>
      <% end %>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

    </div>
  </div>
</div> -->

<h1 class="home-title">bastien gason</h1>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center pb-40">
      <%= link_to "/o2team" do %>
         <%= image_tag "canyon.jpg", class: "img-small" %>
      <% end %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center pb-40">
      <%= link_to "/o2team" do %>
         <%= image_tag "canyon.jpg", class: "img-small" %>
      <% end %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center pb-40">
      <%= link_to "/o2team" do %>
         <%= image_tag "canyon.jpg", class: "img-small" %>
      <% end %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center pb-40">
      <%= link_to "/o2team" do %>
         <%= image_tag "canyon.jpg", class: "img-small" %>
      <% end %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center pb-40">
      <%= link_to "/o2team" do %>
         <%= image_tag "canyon.jpg", class: "img-small" %>
      <% end %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center pb-40">
      <%= link_to "/o2team" do %>
         <%= image_tag "canyon.jpg", class: "img-small" %>
      <% end %>
    </div>
  </div>
</div>

