

<h1 class="home-title">bastien gason</h1>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center pb-40">
      <%= link_to "/worlds-men" do %>
         <%= image_tag "worlds-men-21.jpg", class: "img-small" %>
      <% end %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center pb-40">
      <%= link_to "/worlds-women" do %>
         <%= image_tag "worlds-women-21.jpg", class: "img-small" %>
      <% end %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center pb-40">
      <%= link_to "/pr-recon" do %>
         <%= image_tag "paris-roubaix-reco.jpg", class: "img-small" %>
      <% end %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center pb-40">
      <%= link_to "/ef-gp" do %>
         <%= image_tag "ef-gp-wallonie.jpg", class: "img-small" %>
      <% end %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center pb-40">
      <%= link_to "/watersley" do %>
         <%= image_tag "watersley-tt.jpg", class: "img-small" %>
      <% end %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center pb-40">
      <%= link_to "/baloise" do %>
         <%= image_tag "canyon.jpg", class: "img-small" %>
      <% end %>
    </div>
  </div>
</div>

